.header-container{
    display: flex;
    /*border: 1px solid;*/
    align-items: center;
    justify-content:space-between;
    padding-left: 24px;
    padding-right: 24px;
    /*background-color: aquamarine;*/
}

hr{
    margin: 10px;
}

.logo-icon{
    width: 40px;
    height: 40px;
    border: 1px solid;
    /*background-img: url('asset/')*/
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-container{
    height: 25px;
    display: flex;
}

.nav-container > button{
    background-color: rgba(255, 255, 255, 0);
    
}

.section-container{
    padding-top: 48px;
    padding-bottom: 24px;
}

.section-container > header{
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.section-container > header > h1 {
    color: dimgrey;
    font-size: xx-large;
}

.section-container > header > h3{
    font-weight: 500;
    font-size: medium;
    color: rgb(139, 138, 138);
}

.section-contain-container{
    display: flex;
}

.section-content-kiri{
    height: 500px;
    width: 100%;
    flex: 1;
    background-color: aliceblue;
    margin-right : 16px
}

.section-content-kanan{
    height: 500px;
    width: 100%;
    flex: 1;
    padding-top: 2px;
    padding-left: 20px;
    background-color: rgb(221, 223, 223);
    margin-left: 16px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
  
}

.section-content-kanan > h3{
    color: dimgrey;
}

.section-content-kanan > h5{
    color: rgb(139, 138, 138);
}

.name-input{
    height: 24px;
    width: 50%;
    border: 1px solid yellow;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.tombol{
    height: 24px;
    width: 80px;
    color: white;
    background-color: black;
    border: 0px;
    border-radius: 8px;
}